# =============== #
# Unity generated #
# =============== #
Tareas CMB/Temp/
Tareas CMB/Obj/
Tareas CMB/UnityGenerated/
Tareas CMB/Library/
Tareas CMB/obj/
Tareas CMB/Logs/
Tareas CMB/.vs

Temp/
Obj/
UnityGenerated/
Library/
obj/
Logs/
.vs

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

